/* Estilos básicos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Asegura que html y body ocupen toda la altura de la página */
    margin: 0; /* Elimina márgenes por defecto */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start;
    background-color: white;
}
/* Estilos de la sección empresa */
#todo-cuadernos {
    padding: 50px 20px;
    background-color: #eaeaea; /* Fondo suave para diferenciar la sección */
    text-align: center;
  }
  
  .todo-container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .todo-title {
    font-size: 48px;
    color: #2a2a2a;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .todo-description {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 30px;
  }
  
  .container2 {
    margin: 0; /* Elimina el margen para que ocupe todo el espacio disponible */
    padding: 200px; /* Mantén el padding si lo deseas */
    width: 99vw; /* Usa 100% del ancho de la pantalla */
    height: 99vh; /* Usa 100% de la altura de la pantalla */
    background: #666; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

  .todo-image-container {
    text-align: center;
  }
  
  .todo-image {
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .todo-image:hover {
    transform: scale(1.05);
  }

  /* ==================== Sección Empresa ==================== */
  #productos {
    padding: 50px 20px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    align-items: center;
    
  }
  
  .productos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .productos-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
  }
  
.productos-title {
    font-size: 40px;
    color: #333; /* Color oscuro */
    text-align: center; /* Centra el título */
    font-weight: bold;
}

/* Contenedor de las fotos de productos (usando <section>) */
.productofotos-container {
    display: grid;
    gap: 60px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las tarjetas dentro del contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 20px; /* Espacio dentro del contenedor (opcional) */
    box-sizing: border-box; /* Asegura que el padding no se sume al tamaño total */
    margin: 0 auto; /* Centra el contenedor */
}

/* navbar */

.navbar ul li.dropdown {
    position: relative;
  }
  /* Estilo para el submenú */
  /* Por mayor dropdown */
.navbar ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 280px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1001;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-radius: 5px;
}
  /* Mostrar el submenú al pasar el mouse en escritorio */
.navbar ul li.dropdown:hover .dropdown-content {
    display: block;
}
  /* Estilo para los enlaces del submenú */
.navbar ul li.dropdown .dropdown-content li a {
    padding: 10px 20px;
    display: block;
    border: none;
    color: black;
    text-decoration: none;
}
.navbar ul li.dropdown .dropdown-content li a:hover {
    background-color: #f0f0f0;
}
  /* En móviles se activará con JS: clase para mostrar el dropdown */
.navbar ul li.dropdown .dropdown-content.show-dropdown {
    display: block;
}
  /* Productos dropdown */
.navbar ul li.dropdown .dropdown-contentproductos {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 210px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1001;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-radius: 5px;
}
  /* Mostrar el submenú al pasar el mouse en escritorio */
.navbar ul li.dropdown:hover .dropdown-contentproductos {
    display: block;
}
  /* Estilo para los enlaces del submenú */
.navbar ul li.dropdown .dropdown-contentproductos li a {
    padding: 10px 20px;
    display: block;
    border: none;
    color: black;
    text-decoration: none;
}
.navbar ul li.dropdown .dropdown-contentproductos li a:hover {
    background-color: #f0f0f0;
}
  /* En móviles se activará con JS: clase para mostrar el dropdown */
.navbar ul li.dropdown .dropdown-contentproductos.show-dropdown {
    display: block;
}

/* Estilo para cada tarjeta de imagen */
.producto-item {
    width: 100%;
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px; /* Limita la altura total de la tarjeta */
}

/* Estilo para la imagen dentro de la tarjeta */
.producto-image {
    width: 100%;
    height: 100%; /* Mantén la altura de la imagen fija */
    object-fit: cover;
}

/* Estilo para la descripción debajo de la imagen */
.producto-description {
    padding: 15px;
    background-color: #f4f4f4; /* Fondo gris claro */
    width: 100%;
    text-align: center; /* Centra el texto dentro de la descripción */
    color: #333; /* Color de texto para la descripción */
}

/* Estilo del texto dentro de la descripción */
.producto-description h3 {
    margin: 0;
    font-size: 18px;
    color: #333; /* Título en color oscuro */
}

/* Estilo para el párrafo de la descripción */
.producto-description p {
    font-size: 14px;  /* Aumenta un poco el tamaño de la fuente para mayor legibilidad */
    color: #555; /* Descripción en color gris oscuro */
    line-height: 1.6; /* Mejora la legibilidad con mayor espacio entre las líneas */
    margin-top: 10px; /* Espacio entre el título y la descripción */
    padding: 0 10px; /* Agrega un poco de espacio interno (padding) a los lados para que no se vea tan pegado */
    text-align: justify; /* Justifica el texto para una alineación más ordenada */
}


/* Efecto al pasar el mouse sobre la tarjeta */
.producto-item:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para un efecto de profundidad */
}

/* Efecto al pasar el mouse sobre la imagen */
.producto-image:hover {
    transform: scale(1.1); /* Aumenta ligeramente la imagen al hacer hover */
}

/* Barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Esto separa el logo de los enlaces */
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Contenedor para EZEQUIEL */
.navbar .logo a {
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 100px;
}

/* Contenedor del menú */
.navbar .menu {
    display: flex;
}

/* Menú horizontal */
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Separación entre los enlaces del menú */
.navbar ul li {
    margin: 0 20px;
}

/* Estilos para los enlaces */
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 1px solid black;
}

/* Hover para los enlaces */
.navbar ul li a:hover {
    background-color: #717bb6;
}



/* Menú hamburguesa */
.menu-toggle {
    display: none; /* Se muestra solo en móviles */
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.menu-toggle .bar {
    height: 4px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 2px;
}

/* Menú deslizable (pantallas pequeñas) */
#menu {
    position: fixed;
    top: 0;
    right: -250px; /* Menú oculto inicialmente */
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
}

#menu.show {
    right: 0; /* Menú visible cuando tiene la clase 'show' */
}

#menu li {
    margin: 20px 0;
    text-align: center;
}

#menu li a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}

#Descubrenuestros{
    text-decoration: none; /* Esto quita el subrayado por defecto */
    outline: none; /* Esto elimina el contorno al hacer clic */
    color: #ffffff;
    border: 4px solid #003366;
    background-color: #003366;
    border-radius: 5px;
}
#Descubrenuestros:hover {
    outline: none; /* También eliminar el contorno al pasar el mouse */
    text-decoration: none; /* Elimina el subrayado al pasar el mouse */
}

/* Mostrar el menú deslizable cuando se active la clase "show" */
#menu.show {
    right: 0;
}


/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    /* En pantallas pequeñas, ocultamos el menú horizontal */
    .navbar ul {
        display: none;
    }

    #menu2 {
        display: none;
    }   
    /* Mostramos el botón de menú hamburguesa */
    .navbar .logo a {
        font-size: 24px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        margin: -75px
    }

    .menu-toggle {
        display: flex;
    }

    /* Mostramos el menú deslizable cuando se activa la clase "show" */
    #menu.show {
        right: 0;
    }

    #todogroup {
        color: #ffffff; /* Texto blanco */
        background-color: #003366; /* Azul oscuro */
        text-decoration: none; /* Quitar subrayado */
        padding: 10px 20px; /* Espaciado alrededor del texto */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
        font-size: 16.5px;
    }
    .productofotos-container {
        grid-template-columns: 1fr; /* Una sola columna para móviles */
    }
    .productofotos-container {
        display: grid;
        gap: 60px; /* Espacio entre las imágenes */
        justify-items: center; /* Centra las tarjetas dentro del contenedor */
        width: 90%; /* Asegura que ocupe todo el ancho disponible */
        padding: 20px; /* Espacio dentro del contenedor (opcional) */
        box-sizing: border-box; /* Asegura que el padding no se sume al tamaño total */
        margin: 0 auto; /* Centra el contenedor */
    }
    .container2 {
        margin: 0; /* Elimina el margen para que ocupe todo el espacio disponible */
        padding: 20px; /* Mantén el padding si lo deseas */
        width: 99vw; /* Usa 100% del ancho de la pantalla */
        height: 99vh; /* Usa 100% de la altura de la pantalla */
        background: #666; /* Color de fondo */
        color: white; /* Color del texto */
        border-radius: 5px; /* Bordes redondeados */
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
    }
      /* Por mayor dropdown */
    .navbar ul li.dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 240px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
    .navbar ul li.dropdown .dropdown-contentproductos {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 210px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
    .navbar ul li.dropdown .dropdown-content {
        top: 22.5px;
      }
}

@media screen and (min-width: 769px) and (max-width: 1070px) {

    .navbar ul {
        display: none;
    }

    #menu2 {
        display: none;
    }   
    /* Mostramos el botón de menú hamburguesa */
    .navbar .logo a {
        font-size: 24px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        margin: -75px
    }

    .menu-toggle {
        display: flex;
    }

    /* Mostramos el menú deslizable cuando se activa la clase "show" */
    #menu.show {
        right: 0;
    }

    #todogroup {
        color: #ffffff; /* Texto blanco */
        background-color: #003366; /* Azul oscuro */
        text-decoration: none; /* Quitar subrayado */
        padding: 10px 20px; /* Espaciado alrededor del texto */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
        font-size: 16.5px;
    }
    .productofotos-container {
        grid-template-columns: 1fr; /* Una sola columna para móviles */
    }
    .productofotos-container {
        display: grid;
        gap: 60px; /* Espacio entre las imágenes */
        justify-items: center; /* Centra las tarjetas dentro del contenedor */
        width: 80%; /* Asegura que ocupe todo el ancho disponible */
        padding: 20px; /* Espacio dentro del contenedor (opcional) */
        box-sizing: border-box; /* Asegura que el padding no se sume al tamaño total */
        margin: 0 auto; /* Centra el contenedor */
    }
    .container2 {
        margin: 0; /* Elimina el margen para que ocupe todo el espacio disponible */
        padding: 20px; /* Mantén el padding si lo deseas */
        width: 99vw; /* Usa 100% del ancho de la pantalla */
        height: 99vh; /* Usa 100% de la altura de la pantalla */
        background: #666; /* Color de fondo */
        color: white; /* Color del texto */
        border-radius: 5px; /* Bordes redondeados */
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
    }
      /* Por mayor dropdown */
    .navbar ul li.dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 240px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
    .navbar ul li.dropdown .dropdown-contentproductos {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 210px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1070px) and (max-width: 1350px) {
    .navbar ul {
        display: flex;
        justify-content: flex-start; /* Desplazamos el menú a la izquierda */
    }

    #menu2 li {
        margin: 10px 0;
        text-align: center;
    }

    #menu2 {
        display: show;
    }
    #menu2 li a {
        font-size: 15px; /* Cambia este valor al tamaño de letra que desees */
    }
    .navbar {
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        width: 100%;
    }
    .navbar ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 37px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: none; /* Ocultamos el botón de hamburguesa */
    }
    .productofotos-container {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    }
    .navbar ul li.dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 190px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
    .navbar ul li.dropdown .dropdown-contentproductos {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 100px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1670px) {
    .navbar ul {
        display: flex;
        justify-content: flex-start; /* Desplazamos el menú a la izquierda */
    }

    #menu2 li {
        margin: 10px 0;
        text-align: center;
    }

    #menu2 {
        display: show;
    }
    #menu2 li a {
        font-size: 15px; /* Cambia este valor al tamaño de letra que desees */
    }
    .navbar {
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        width: 100%;
    }
    .navbar ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 37px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: none; /* Ocultamos el botón de hamburguesa */
    }
    .productofotos-container {
        grid-template-columns: repeat(4, 1fr); /* Tres columnas de igual tamaño */
    }
    .navbar ul li.dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 190px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
    .navbar ul li.dropdown .dropdown-contentproductos {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 100px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        border-radius: 5px;
    }
}
@media screen and (min-width: 1670px) {

    .navbar ul {
        display: flex;
        justify-content: flex-start; /* Desplazamos el menú a la izquierda */
    }

    #menu2 li {
        margin: 10px 0;
        text-align: center;
    }

    #menu2 {
        display: show;
    }
    #menu2 li a {
        font-size: 20px; /* Cambia este valor al tamaño de letra que desees */
    }
    .navbar {
        display: flex;
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        width: 100%;
    }
    .todo-description {
        font-size: 16px;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 30px;
      }
    .navbar ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 60px;
        border-radius: 5px;
    }

    .todo-image {
        width: 80%;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
      }
    
    .menu-toggle {
        display: none; /* Ocultamos el botón de hamburguesa */
    }
    .productofotos-container {
        grid-template-columns: repeat(5, 1fr); /* Tres columnas de igual tamaño */
    }
    
}

/* Mostrar el menú horizontal solo en pantallas grandes */

/* Añadimos padding al contenido para que no quede debajo de la barra de navegación */
.content {
    padding-top: 30px; /* Asegúrate de que el contenido no quede oculto bajo la navbar */
    width: 100%;
}


#todogroup {
    color: #ffffff; /* Texto blanco */
    background-color: #003366; /* Azul oscuro */
    text-decoration: none; /* Quitar subrayado */
    padding: 10px 20px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados (opcional) */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
}

#todogroup:hover {
    background-color: #cc3333; /* Rojo cuando el cursor pasa sobre el enlace */
    color: #ffffff; /* Mantener el texto en blanco */
} 
.form {
    margin: auto;
}
h2 {
    margin-bottom: 10px;
}
input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
}
button {
    background: white;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.info {
    margin-top: 20px;
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
}